/* HEADER BUTTON */
/*****************/
.fblgstp-side-menu-button {
  font-size: 2rem;
  -webkit-text-stroke: 1px;
  cursor: pointer;
  border: none !important;
  background-color: transparent;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.fblgstp-side-menu-button:hover {
  color: #66a80f;
}

/* MENU */
/********/
.fblgstp-side-menu-container {
  position: absolute;
  top: 100%;
  right: -2rem;
  /* transform: translateX(2rem); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4.8rem;
  background-color: #f0f6e7;
  color: #333333;
  font-size: 1.8rem;
  font-weight: 700;
  border-bottom: 4px solid #888888;
  padding-bottom: 4.8rem;
  z-index: 10;
}

.fblgstp-side-menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.fblgstp-side-menu-header {
  background-color: #888888;
  color: #ffffff;
  text-align: end;
  padding: 1.2rem 2rem;
  margin-bottom: 1.2rem;
}

.fblgstp-side-menu ul {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.2rem;
  list-style: none;
  text-transform: uppercase;
  padding: 0 2rem;
}

.fblgstp-side-menu a:link,
.fblgstp-side-menu a:visited {
  text-decoration: none;
}

/* HEADER TOOLS */
/****************/
.fblgstp-header-tools {
  display: flex;
}

.fblgstp-header-tools a:link,
.fblgstp-header-tools a:visited {
  background-color: #66a80f;
  color: #ffffff;
  padding: 1.2rem 2rem;
}

.fblgstp-header-tools a:hover,
.fblgstp-header-tools a:active {
  background-color: #47760b;
}

.fblgstp-signin-link {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  text-decoration: none;
}

.fblgstp-signin-icon {
  position: relative;
  height: 2.4rem;
  width: 2.4rem;
  text-align: center;
  line-height: 2.4rem;
  background-color: transparent;
}

.fblgstp-signin-icon .bi {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.fblgstp-signin-text {
  font-size: 1.8rem;
}

.fblgstp-signin-text small {
  font-size: 1.2rem;
}

/* AUTHENTICATION MODAL */
/************************/
.fblgstp-authentication-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.fblgstp-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fblgstp-modal-content {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: start;
  vertical-align: bottom;
  background-color: #f0f6e7;
  border: 4px solid #888888;
  padding: 4.8rem;
  width: 37rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.fblgstp-modal-close-button {
  position: absolute;
  cursor: pointer;
  top: 0.8rem;
  right: 0.8rem;
  font-size: 1.8rem;
  border: none;
  color: #333333;
  background-color: transparent;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.fblgstp-modal-close-button:hover {
  color: #888888;
}

.fblgstp-tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 2px solid #888888;
  margin-bottom: 2.4rem;
}

.fblgstp-tabs a {
  text-decoration: none;
  color: #888888;
  padding: 0 1.2rem;
}

.fblgstp-tabs a.fblgstp-active-tab {
  color: #333333;
  border-bottom: 4px solid #333333;
}

.fblgstp-tabs a i {
  font-size: 1.8rem;
  margin-right: 0.6rem;
  background-color: transparent;
}

.fblgstp-modal-body form {
  display: none;
}

.fblgstp-modal-body form fieldset {
  border-style: none;
  padding: 0;
}

.fblgstp-modal-body form label {
  display: block;
}

.fblgstp-modal-body form input {
  display: block;
  font-size: 1.8rem;
  color: #555555;
  text-align: center;
  width: 100%;
  border: 2px solid #888888;
  padding: 1rem 1.2rem;
  margin-bottom: 1.2rem;
}

.fblgstp-modal-body form button {
  width: 100%;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  border: none;
  background-color: #66a80f;
  padding: 1.2rem 2.4rem;
  margin-top: 1.2rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.fblgstp-modal-body form button:hover {
  background-color: #47760b;
}

.fblgstp-modal-status {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding: 1.2rem 2.4rem;
  margin-bottom: 1.2rem;
}

.fblgstp-modal-status-info {
  background-color: rgb(96 165 250);
}

.fblgstp-modal-status-success {
  background-color: rgb(74 222 128);
}

.fblgstp-modal-status-danger {
  background-color: rgb(248 113 113);
}

/* SOCIAL MENU */
/***************/
.fblgstp-social-menu {
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  padding: 0 2rem;
}

.fblgstp-social-menu i {
  background-color: transparent;
}

/* EDITOR */
/**********/
.fblgstp-menu-inspector-header {
  margin-bottom: 8px;
}

.fblgstp-menu-inspector-title {
  margin: 0 !important;
}

/* HELPER/FUNCTIONALITY */
/************************/
.fblgstp-side-menu-open {
  display: none !important;
}

.fblgstp-is-side-menu-nav-hidden {
  display: none;
}

.fblgstp-modal-show {
  display: flex;
}

/* QUERIES */
/***********/
/* 725px */
@media (max-width: 47em) {
  .fblgstp-is-side-menu-nav-hidden {
    display: block;
  }
}
